<div class="menu">
<ul>
<li><%= link_to 'Home', static_pages_home_path %></li>
<li><%= link_to 'Connect', users_path%></li>
<li class="active"><%= link_to "Advanced Search", new_search_path %></li>
<li><%= link_to 'New User', new_user_path %></li>
</ul>
</div>

<h1>Search User</h1>

<%= form_with model: @search do |f| %>
    <label for="search_input">Search</label>
    <%= f.text_field :search_input %>
    <label for="usertype">Account Type</label>
    <%= f.select :usertype, ["None", "Attendee", "Venue", "Vendor", "Event", "Press"] %>

    <br><br>

    <%= f.submit "Search" %>
<% end %>

<p><%= link_to "Back", '/users' %></p>