<div class="menu">
<ul>
<li><%= link_to 'Home', static_pages_home_path %></li>
<li><%= link_to 'Connect', users_path%></li>
<li class="active"><%= link_to "Advanced Search", new_search_path %></li>
<li><%= link_to 'New User', new_user_path %></li>
</ul>
</div>

<h1>Advanced Search</h1>

<%= form_with model: @search do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <label for="userType">What type of account would you like?</label>
    <%= f.select :userType, ["Attendee", "Venue", "Vendor", "Event", "Press"] %>

    <br><br>

    <%= f.submit "Search" %>
<% end %>

<p><%= link_to "Back", '/users' %></p>