<h1>Search Results</h1>
<p><%= link_to "Back", new_search_path %></p>

<% if @search.search_user.empty? %>
    <p>No users were found.</p>
<% else %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            <% @search.search_user.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.address %></td>
            </tr>
            <tr>
                <td>
                <%= link_to 'Show', user %> 
                <%= link_to 'Edit', edit_user_path(user) %> 
                <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %> 
                </td>
            </tr>
            <% end %>
        </tbody>
</table>
<% end %>